In [1]:
import numpy as np 
import pandas as pd
import os, zipfile

In [27]:
z = zipfile.ZipFile('train_images.zip')
print("Train set contains "+str(len(z.namelist()))+' images.')

labels_train = pd.read_csv('train_onelabel.csv')

labels_train.tail()

Train set contains 24205 images.

            image  class
24199   39201.jpg    120
24200  125944.jpg    120
24201   89209.jpg    120
24202   94023.jpg    120
24203   56829.jpg    120

In [28]:
#how many images per class are in the training dataset
labels_train.groupby('class').count()

       image
class
0        322
1        140
2         90
3        709
4        103
5        179
6        309
7         59
8        551
9         43
10         7
11       324
12       944
13        10
14        61
15        20
16        96
17       233
18       118
19        40
20       110
21       425
22       233
23        94
24       267
25        31
26       560
27       496
28       179
29       167
...      ...
91        38
92       119
93        46
94       271
95         9
96        29
97        75
98        29
99       645
100      558
101      703
102       23
103       50
104      337
105      965
106        9
107       23
108       26
109       43
110       63
111      137
112      146
113      295
114      148
115       18
116       67
117      542
118       70
119      315
120       13

[121 rows x 1 columns]